@use '~@angular/material' as mat;

@mixin anms-styles-reset-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  a {
    color: mat.get-color-from-palette($foreground, text);

    &:hover {
      color: mat.get-color-from-palette($accent);
    }
  }

  code {
    color: mat.get-color-from-palette($accent, lighter-contrast);
    background-color: mat.get-color-from-palette($accent, lighter);
  }

  // 因在 黑暗模式/白天模式 下的 mat-option 看不太清楚，所以这里要自定义.
  .mat-option.mat-selected {
    color: mat.get-color-from-palette($accent, lighter-contrast) !important;
  }

  p {
    a {
      color: mat.get-color-from-palette($accent);

      &:hover {
        color: mat.get-color-from-palette($accent, darker);
      }
    }
  }
}
